@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');


/*____________________ HTML/Body Styles ____________________*/
html {
  font-family: 'Acme', sans-serif;
  color: #2e294e;
  background-color: white;
}

body {
  max-width: 60vw;
  min-width: 600px;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  background-color: #1282a2;
  box-shadow:
}


/*_________________________ Anchors _________________________*/
a:link, a:visited {
  text-decoration: none;
  color: #2e294e;
}

a:hover, a:active {
  color: #1282a2;
}


/*__________________ Headings and Headers __________________*/
h1 {
  width: 50vw;
  margin: 0 0 5px 0;
  padding: 10px 0 10px 0;
  color: #f46036;
  font-size: 3vw;
  text-align: center;
  background-color: #2e294e;
  border-bottom-right-radius: 30px;
}

.header {
  font-size: 1.2em;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 5px;
  margin-left: 20%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #d7263d;
}

/*____________________ Aside/Links ____________________*/
.aside {
  padding: 15px;
  margin: 0 0 0 5vw;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #c5d86d;
}
5
.aside p {
  border-bottom: 1px solid #f46036;
  margin: 0;
}

.links {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0 #2e294e;
  background-color: #c5d86d;
  text-align: center;
}


/*_________________________ Sites _________________________*/
.sites {
  margin: 5px auto;
}

.sites img {
  box-shadow: 3px 3px 0 #2e294e;
  width: 20vw;
}

/*______________________ Grid Layout ______________________*/
.header { grid-area: header; }
.links  { grid-area: links; }
.sites  { grid-area: sites; }
.aside  { grid-area: aside; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'links sites sites sites sites aside'
    'footer footer footer footer footer footer';
  margin: 0;
  padding: 0;
}
