@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

/* * {
  border: 1px solid red;
} */

/*____________________________ HTML/Body Styles ____________________________*/
html {
  font-family: 'El Messiri', sans-serif;
  color: #292f36;
  background-color: #f7fff7;
}

body {
  background-color: #f7fff7;
  height: 100vh;
  margin: 0 auto;
}

/*______________________________ Header Styles ______________________________*/
header h1 {
  margin: 5px 0 0 0;
  padding: 15px 0 0 0;
  color: #f7fff7;
  border-right: 1px solid #f7fff7;
}

header {
  box-shadow: 0px 3px 5px #6e7271;
  margin-bottom: 6px;
  background-color: #384d48;
}


/*__________________________ Navigation Bar Styles __________________________*/
.horizontal {
  padding: 0 20%;
  margin: 0;
}

.horizontal ul {
  -webkit-display: flex;
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.horizontal li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.horizontal li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal a:link, .horizontal a:visited {
  color: #f7fff7;
  text-decoration: none;
}

.horizontal a:hover, .horizontal a:active {
  color:  #292f36;
  background-color: #6e7271;
}


/*________________________________ Slideshow ________________________________*/
.slideshow {
  -webkit-display: flex;
  display: flex;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.slideshow-img {
  position: relative;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.slideshow-img img {
  width: 100%;
}

.headline {
  position: absolute;
  top: 10%;
  margin: 0;
  padding: 3px 5px 3px 2vw;
  font-size: 3vw;
  color: #f7fff7;
  background-color: rgba(110, 114, 113, 0.8);
}

.sub-headline {
  position: absolute;
  top: 30%;
  left: 0;
  padding: 0 0 0 2vw;
  font-size: 2vw;
  border-bottom: 1px solid #292f36;
}

.slideshow-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.slideshow-button button {
  font-family: 'El Messiri', sans-serif;
  font-size: 2vw;
  padding: 15px 5px;
  color: #f7fff7;
  background-color: rgba(219, 84, 97, 0.7);
  border-radius: 20px;
  border-style: none;
}

.slideshow-button button:hover {
  background-color: rgba(247, 255, 247, 0.8);
  color: #db5461;
}


/*______________________________ Aside Styles ______________________________*/
.slideshow aside {
  flex: 1 1 auto;
  font-size: 0.8em;
  width: 100%;
}


/*_______________________________ Form Styles _______________________________*/
 .login {
  padding: 2vw;
}

.login input {
  margin-bottom: 5px;
  width: 100%;
}


/*__________________________________ Grid __________________________________*/
.grid-container {
  display: grid;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.grid-container div {
  text-align: center;
}

.grid-container img {
  width: 100%;
  box-shadow: -1px 1px 5px #6e7271;
}
