    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow bgc-quaternary">
        <a class="navbar-brand font-italic font-weight-bold fc-tertiary" href="index.php">fwd</a>
        <button class="navbar-toggler border-color-tertiary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fc-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CIS 1408 - Web Programming II
                    </a>
                    <div class="dropdown-menu style=" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="fwd_bootstrap.php">Bootstrap Assignments</a>
                        <a class="dropdown-item" href="fwd_jquery.php">jQuery</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /NavBar -->

    <!-- Dummy Container to give space after sticky navbar -->
    <div class="container my-5"></div>
    <!-- /End Dummy Container -->
