@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

/*
Colors
    #DB5461
    #292F36
    #384D48
    #F7FFF7
    #6E7271
*/


/*_______________________________ Body Styles _______________________________*/
body {
    font-family: 'El Messiri', sans-serif;
    color: #292f36;
    background-color: #F7FFF7;
    overflow-x: hidden;
}


/*______________________________ NavBar Styles ______________________________*/
.navbar, .footer {
    background-color: #384D48;
}

nav ul {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    color: #F7FFF7 !important;
}

.navbar-brand:hover, .navbar-brand:active {
    color: #DB5461 !important;
}

.nav-item {
    color: #F7FFF7 !important;
}

nav li:active, nav li:link {
    background-color: #384D48 !important;
}

nav li:hover, nav li:visited {
    background-color: #6E7271 !important;
}


/*___________________________ Anchor/Button Styles ___________________________*/
.btn-primary {
    background-color: #DB5461 !important;
    border-color: #DB5461 !important;
}

.btn-primary:hover, .btn-primary:active  {
    background-color: #f7fff7 !important;
    border-color: #DB5461;
    color: #292f36;
}

.hover-action:hover, .hover-action:active {
    filter: opacity(0.9);
}

.list-group-item {
    color: #F7FFF7;
    background-color: #6E7271;
}

.list-group-item-action:hover, .list-group-item-action:active  {
    filter: opacity(0.4);
}


/*_____________________________ Carousel Styles _____________________________*/
.carousel-caption p {
    font-size: 3vh;
}

.carousel-caption {
    top: 30% !important;
}

.carousel-caption h1 {
    font-size: 5vh;
}


/*_______________________________ Image Styles _______________________________*/
.darken-image:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.4);
}


/*________________________________ HR Styles ________________________________*/
.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(56, 77, 72, 1), rgba(0, 0, 0, 0));
}


/*____________________________ Symbol/Font Styles ____________________________*/
.copy-symbol {
    font-size: 0.5em !important;
    vertical-align: top;
}
